* {
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    font-family: 'Space Mono';
}

body {
    background-color: #c5e4e7 ;
}
.content {
    padding: 20px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    max-width: 500px;
    max-height: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.first, .second{
    /* margin: 20px; */
    padding: 20px;
}

.second { 
    /* display: flex; */
    background-color: #00494d;
    border: 2px solid blue;
    /* flex-direction: column; */
}

.inp {
    width: max-content; height: max-content; background-color: #f4fafa;
    border: 3px ; border-radius: 5px;
}

.inputs { 
    text-align: right; color:#00494d; font-weight: 700;
    border: none;
    background: url('images/icon-dollar.svg') no-repeat;
    height: 25px;
    background-size: 7px;
    background-position-y: 50%;
    background-position-x: 5px;
}
