* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Space Mono';
}

body {
    background-color: #c5e4e7 ;
    font-size: 24px;
    font-weight: 700;
    /* position: fixed; */
}

.logo{
    text-align: center;
    margin: 45px auto;
}
.content {
    margin: auto;
    padding: 0px 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 375px;
}

.first h3{
    padding-bottom: 4px;
    padding-top: 35px;
    color: #5e7a7d;
}

.first {
    padding: 5px;
    margin-bottom: 25px;
}

.first h3, .second h3{
    font-size: 0.95rem;
}

#warning {
    color: red;
    font-size: 0.8rem;
}

.second p{
    font-size: 0.75rem;
    color: #5e7a7d;
}

.second {
    background-color: #00494d;
    border-radius: 15px;
    padding: 20px;
}

.second h3{
    color: #ffffff;
    opacity: 0.7;
}

.second h2{
    color: #26c0ab;
}

.inp {
    display: flex;
    background-color: #f4fafa;
    border: 3px ; border-radius: 5px;
}

.inputss {
    background: url('images/icon-person.svg') no-repeat;
}

.inputs {
    background: url('images/icon-dollar.svg') no-repeat;
}

.inputs, .inputss { 
    text-align: right; color:#00494d; font-weight: 700;
    border: none;
    height: 45px;
    width: 100%;
    background-size: 12px;
    background-position-y: 50%;
    background-position-x: 15px;
    padding-right: 15px;
    font-size: 1.4rem;
    font-weight: 1.5rem;
    padding: 0px;
}

#buttondiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    min-width: 50px;
}

#buttondiv *{
    margin-bottom: 15px;
    flex-basis: 47%;
    height: 45px;
    border-radius: 5px;
    border:none;
    font-size: 1.3rem;
    min-width: 100px;
    text-align: center;
}

#custom{
    background-color: #f4fafa;
    color:#00494d;
    border: none;
}

.normalbtn{
    background-color: #00494d;
    color: #ffffff;
}

#peoplequery {
    display: flex;
    justify-content: space-between;
}

.calculation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetbtn, .calculation {
    margin-top: 15px;
}

.resetbtn {
    width: 100%;
    height: 45px;
    background-color: #26c0ab;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 30px;
    color: #00494d;
    /* bottom: 0; */
}

.resetbtn:hover{
    cursor:pointer;
}

button:active{
    background-color: #c5e4e7;
}

input:active{
    border-color: #c5e4e7;
}


@media (min-width: 376px){
    .content{
        flex-direction: row;
        max-width: max-content;
        padding-top: 25px;
        justify-content: space-between;
    }

    .first, .second{
        flex-basis: 48%;
    }

    .first{
        margin-bottom: 0;
    }

    .first h3{
        padding-top: 15px;
    }

    #buttondiv *{
        margin-bottom: 15px;
        flex-basis: 29%;
        min-width: 92px;
    }

    .resetbtn{
        position: relative;
        top: 80px;
    }

    

    .contentandlogo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo{
        margin: auto;
        padding-bottom: 50px;
    }
}
